<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./parts/nav.ejs') %>

        <section>
            <% prods.forEach(prod=> { %>

                <div class="product">
                    <h2>
                        <%= prod.title %>
                    </h2>
                    <div class="buttons">
                        <button><a href="/<%= prod.id %>">show</a></button>
                        <button><a href="/edit/<%= prod.id %>">edit</a></button>
                        <button><a href="/delete/<%= prod.id %>">delete</a></button>
                    </div>
                </div>
                <% }) %>
        </section>
</body>

</html>